1-Django-Basics/1-basic-forms/myproject/myapp/__pycache__
1-Django-Basics/1-basic-forms/myproject/myapp/migrations/__pycache__
1-Django-Basics/.DS_Store
1-Django-Basics/1-basic-forms/myproject/db.sqlite3
.DS_Store

1-Django-Basics/2-basic-menu-items/myproject/db.sqlite3
1-Django-Basics/2-basic-menu-items/myproject/myproject/__pycache__
1-Django-Basics/2-basic-menu-items/myproject/myapp/__pycache__
1-Django-Basics/2-basic-menu-items/myproject/myapp/migrations/__pycache__

1-Django-Basics/3-basic-orm-understanding/myproject/db.sqlite3
1-Django-Basics/3-basic-orm-understanding/myproject/myproject/__pycache__
1-Django-Basics/3-basic-orm-understanding/myproject/myapp/__pycache__
1-Django-Basics/3-basic-orm-understanding/myproject/myapp/migrations/__pycache__

1-Django-Basics/4-basic-roles4-basic-roles/myproject/db.sqlite3 
1-Django-Basics/4-basic-roles/myproject/myproject/__pycache__
1-Django-Basics/4-basic-roles/myproject/myapp/__pycache__
1-Django-Basics/4-basic-roles/myproject/myapp/migrations/__pycache__

1-Django-Basics/5-basic-templates/myproject/db.sqlite3
1-Django-Basics/5-basic-templates/myproject/myproject/__pycache__
1-Django-Basics/5-basic-templates/myproject/myapp/__pycache__
1-Django-Basics/5-basic-templates/myproject/myapp/migrations/__pycache__

1-Django-Basics/6-template-inheritance/myproject/db.sqlite3
1-Django-Basics/6-template-inheritance/myproject/myproject/__pycache__
1-Django-Basics/6-template-inheritance/myproject/myapp/__pycache__
1-Django-Basics/6-template-inheritance/myproject/myapp/migrations/__pycache__

1-Django-Basics/7-basic-menu-booking-project/littlelemon/db.sqlite3
1-Django-Basics/7-basic-menu-booking-project/littlelemon/littlelemon/__pycache__
1-Django-Basics/7-basic-menu-booking-project/littlelemon/restaurant/__pycache__
1-Django-Basics/7-basic-menu-booking-project/littlelemon/restaurant/migrations/__pycache__

2-Django-Restframework-API/1-basic-API-requests/BookList/__pycache__
2-Django-Restframework-API/1-basic-API-requests/BookListDRF/migrations/__pycache__
2-Django-Restframework-API/1-basic-API-requests/db.sqlite3
2-Django-Restframework-API/1-basic-API-requests/Pipfile.lock

2-Django-Restframework-API/2-basic-API-json/BookList/__pycache__
2-Django-Restframework-API/2-basic-API-json/BookListAPI/__pycache__
2-Django-Restframework-API/2-basic-API-json/db.sqlite3
2-Django-Restframework-API/2-basic-API-json/Pipfile.lock

2-Django-Restframework-API/3-djangoDRF-debug-toolbar/BookList/__pycache__
2-Django-Restframework-API/3-djangoDRF-debug-toolbar/BookListAPI/__pycache__
2-Django-Restframework-API/3-djangoDRF-debug-toolbar/db.sqlite3
2-Django-Restframework-API/3-djangoDRF-debug-toolbar/Pipfile.lock

2-Django-Restframework-API/4-django-API-examples/LittleLemon/db.sqlite3
2-Django-Restframework-API/4-django-API-examples/Pipfile.lock

2-Django-Restframework-API/5-django-API-models-serializers/Pipfile.lock

2-Django-Restframework-API/6-django-API-relationship-serializers/Pipfile.lock

2-Django-Restframework-API/8-django-API-search-order-filter/Pipfile.lock

2-Django-Restframework-API/9-django-API-search-order-filtering-pagination/LittleLemon/LittleLemon/__pycache__
2-Django-Restframework-API/9-django-API-search-order-filtering-pagination/LittleLemon/LittleLemonDRF/__pycache__
2-Django-Restframework-API/9-django-API-search-order-filtering-pagination/LittleLemon/LittleLemonDRF/migrations/__pycache__

2-Django-Restframework-API/10-django-API-token-based-auth/Pipfile.lock

2-Django-Restframework-API/11-django-API-user-based-auth/Pipfile.lock

2-Django-Restframework-API/12-django-API-throttling/Pipfile.lock